<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0812-DouBanFM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE119AA01D5D83DF00C73DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE119AB91D5D83E000C73DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE119AC41D5D83E000C73DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
